.fancy{
  color:orange;
}
.results{
  color:white !important;
  height:57px;
  overflow:auto;
}
.thumbnail-img{
  width:100%;
}
.golink-input{
  color:black !important;
}
#banner{
  top:0px; 
  left:0px;
  right:0px;
  padding:5px;
  position:fixed;
  width:200px;
  height:100%;
  background-color:rgba(0,0,0,0.5);
  z-index:500000;
  color:white;
}

