body {
  font-family:Roboto !important;
  padding:20px;
  width:500px;
  height:500px;
}
.block{
  display:block;
  clear:both !important;
}
.collaborator-img{
  border-radius:1000px;
}
.active-tab{
  background-color:rgba(0,0,0,0.1);
}

.favicon-img{
  height:20px;
}

.tab-icons{
  display:none;
}
