<style type = 'text/css'>
#capture-img{
  width:300px;
}
.thumbnail-img{
  width:150px;
  opacity:0.5;
}
.thumbnail-img:hover{
  opacity:1.0;
}
#visual-row{
  padding:10px;
    border-top:10px solid rgba(0,0,0,0.1);
      padding-top:10px;
}
#capture-btn{
  color:white;
    /* background-color:#DD4B39; */
      border:none;
}
#capture-img{
  cursor:pointer;
}

</style>

<img id = 'capture-img' ng-click = 'capture()'></img>
<input type = 'text' placeholder = 'key' ng-model = 'key'/>

<div class = 'row' id = 'visual-row'>
  <div class = 'pull-left' ng-repeat = 'golink in golinks'>
    <a href = '{{golink.url}}' target = '_blank'>
      <!--<div>{{golink.key}}</div>-->
      <img src = '{{golink.image.url()}}' class = 'thumbnail-img'>
      <div class = 'caption'>
        <div>{{golink.key}}</div>
      </div>
    </a>
  </div>
</div>
