<div ng-show = 'nocopilot == null' class = 'pull-right'>
  <div>
    <div class = 'btn btn-default' ng-click = 'copilotRedirect()'>
      <img src = './mushroom_red.png' height = '25px'> Show Webpage 
    </div>
    <div class = 'btn btn-default' ng-click = 'stopSharing()'>
      <img src = './mushroom_blue.png' height = '25px'> Stop Sharing
    </div>
  </div>
</div>

<div ng-show = 'nocopilot'>
  <h3>You're not sharing yet!</h3>
  <div> <img src = './mushroom_sad.png' height = '200'> </div>
  <p>Sign onto a #channel to start sharing Wtcha Dodo with your friends!</p>
  <div>
    <div class = 'btn btn-default' ng-click = 'copilotRedirect()'>
      <img src = './mushroom_red.png' height = '35px'> 
      <span>Try it out!</span>
    </div>
    <!--<span> We'll send you to the #main channel</span>-->
  </div>
  <!--<div>-->
    <!--<div class = 'btn btn-default' ng-click = 'createSession()'>-->
      <!--<img src = './mushroom_blue.png' height = '35px'> -->
      <!--<span>Custom Channel<span>-->
    <!--</div>-->
    <!--<span> Have a custom #channel already?</span>-->
  <!--</div>-->
  <!--<div>-->
    <!--<div class = 'btn btn-default' ng-click = 'createRedirect()'>-->
      <!--<img src = './mushroom_friends.png' height = '35px'> -->
      <!--<span>Create a Channel<span>-->
    <!--</div>-->
    <!--<span> Create a custom channel</span>-->
  <!--</div>-->
</div>

<div class = 'block row' ng-show = 'nocopilot == null'>
  <ul class = 'list-group'>
  <li class = 'list-group-item' ng-repeat = 'key in userIds'>
    <span class = 'user-div'>
      <img src = 'http://{{userDict[key].photoUrl}}' class = 'collaborator-img'>
      <a href = 'javascript:void(0)' class = 'collaborator-link' id = '{{key}}-link'>{{userDict[key].displayName}}</a>
    </span>
    :
    <span ng-show = 'active[key]'>
      <img src = '{{active[key].favIconUrl}}' class = 'favicon-img'>
      <a href = '{{active[key].url}}' target = '_blank'>{{active[key].title}}</a>
    </span>
  </div>
</div>

<div id = 'collaborators-div'></div>
<div id = 'bookmarks-div'></div>
<div id = 'tabs-div'></div>

